<!-- Account Index Page -->

<div class="account-main-user flex align-center mb-5">
  <app-user-image [source]="'assets/images/users/user-image.jpg'" class="mw-10x mr-2"></app-user-image>
  <div class="flex-auto color-gray-light fs-1y">
    <div>HELLO <b>JOHN DOE</b></div>
    <div>Welcome to Tonozz!</div>
  </div>
</div>

<div class="account-main-profile grid-sm grid-sm-col-2 grid-pc-col-3 grid-sm-col-gap-2">
  <!-- Item -->
  <div class="profile-item shadowed p-2 radius-7x mb-3">
    <section>
      <div class="profile-item-header">
        <h1 class="fw-3 text-center py-2">Sana Uygun Alıcı İstekleri</h1>
        <div class="profile-item-chart">
          <img src="assets/images/line-chart.png" class="w-100" alt="" />
        </div>
        <p class="mb-2 text-center">Sana ve yeteneklerine en uygun alıcı
          isteklerini gösterebilmemiz için, seni
          tanımamız lazım. Bu yüzden en az 1
          adet iş ilanı oluşturmalısın.</p>
      </div>
      <div class="profile-item-button text-center my-1">
        <a href="#" class="button button-primary-dark mw-20x px-2 text-center">İş İlanı Oluştur</a>
      </div>
    </section>
  </div>

  <!-- Item -->
  <div class="profile-item shadowed p-2 radius-7x mb-3">
    <section>
      <div class="profile-item-header">
        <h1 class="fw-3 text-center py-2">Profilini Güçlendir!</h1>
        <div class="profile-item-chart">
          <img src="assets/images/profile-stronge.png" class="w-100" alt="" />
        </div>
        <p class="mb-2 text-center">Sana ve yeteneklerine en uygun alıcı
          isteklerini gösterebilmemiz için, seni
          tanımamız lazım. Bu yüzden en az 1
          adet iş ilanı oluşturmalısın.</p>
      </div>
      <div class="profile-item-button text-center my-1">
        <a href="#" class="button button-primary-dark mw-20x px-2 text-center">İş İlanı Oluştur</a>
      </div>
    </section>
  </div>

  <!-- Item -->
  <div class="profile-item shadowed p-2 radius-7x mb-3">
    <section>
      <div class="profile-item-header">
        <h1 class="fw-3 text-center py-2">Tonozz Destek Hattı</h1>
        <div class="profile-item-chart">
          <img src="assets/images/support-line.png" class="w-100" alt="" />
        </div>
        <p class="mb-2 text-center">Sana ve yeteneklerine en uygun alıcı
          isteklerini gösterebilmemiz için, seni
          tanımamız lazım. Bu yüzden en az 1
          adet iş ilanı oluşturmalısın.</p>
      </div>
      <div class="profile-item-button text-center my-1">
        <a href="#" class="button button-primary-dark mw-20x px-2 text-center">İş İlanı Oluştur</a>
      </div>
    </section>
  </div>

</div>