$sky-blue: #00b5c9;
$sky-blue-light: #7ed9e3;
$sky-blue-lime: #def7ff;
$dark-gray: #3d3d3d;
$dark-gray2: #737373;
$dark-gray3: #707070;
$dark-gray4: #8b8b8b;
$sea-blue: #587fff;
$light-gray: #f5f5f5;
$light-gray2: #ececec;
$light-gray3: #ebebeb;
$light-gray4: #e5e5e5;
