<div class="position-relative about-header">
  <img src="assets/images/about-us-image.png" alt="" class="w-100 about-header-cover" />
  <div class="position-md-absolute position-md-x-center flex flex-column flex-md-row align-center flex-wrap justify-between top-50x w-100 mw-md-80x">
    <span class="color-white">Mockup Company</span>
    <div class="flex justify-center about-header-menu my-2 my-md-0">
      <a href="#" class="color-gray color-md-white">Solutions</a>
      <a href="#" class="color-gray color-md-white">About</a>
      <a href="#" class="color-gray color-md-white">Pricing</a>
    </div>
    <div>
      <a href="#" class="color-white fs-1 bg-color-gray px-2 py-1">Get Started</a>
    </div>
  </div>
  <div class="position-xy-center position-absolute text-center color-white w-100 mw-60x">
    <h1 class="fs-2 fs-md-3x">About Us</h1>
    <p class="fs-0y fs-md-1x px-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      doloremagna aliqua.
    </p>
  </div>
</div>
<section>
  <div class="container py-8 grid grid-md-col-2 grid-md-col-gap-5">
    <div class="flex align-center mb-5 mb-sm-0 align-md-start flex-column justify-center color-gray">
      <h1 class="fs-md-2y">Our Mission</h1>
      <p class="mw-40x fs-1">Neque porro quisquam est, qui dolorem ipsum quia
        dolor sit amet, consectetur, adipisci velit, sed quia non
        numquam eius modi tempora incidunt ut labore et
        dolore magnam aliquam quaerat voluptatem. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum. </p>
    </div>
    <div>
      <div class="grid-md grid-md-col-2 grid-col-gap-1 grid-sm-col-gap-2 mb-3">
        <img src="assets/images/about-us-mission-01.png" alt="Our Mission" class="w-100 mb-2 mb-md-0" />
        <img src="assets/images/about-us-mission-02.png" alt="Our Mission" class="w-100" />
      </div>
      <div>
        <img src="assets/images/about-us-mission-03.png" alt="Our Mission" class="w-100" />
      </div>
    </div>
  </div>
</section>
<div class="about-section">
  <section>
    <div class="container py-2 py-md-6">
      <!-- Header -->
      <div class="color-dark-gray text-center mb-3 mb-md-5">
        <article>
          <h1 class="fs-md-2y">Meet Our Leaders</h1>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </article>
      </div>

      <!-- Teams -->
      <div class="flex flex-wrap justify-center justify-sm-between mt-md-8 mb-md-3">
        <div *ngFor="let i of [1,2,3,4]" class="text-center  flex-sm-col-2 flex-md-col-4 mb-4">
          <img src="assets/images/about-user-image.png" alt="Person Name" class="w-100 mb-2 radius-50 mw-20x" />
          <h4 class="fs-md-1y color-gray m-0 p-0">Jonathan Warner</h4>
          <div class="fs-0y color-gray mb-2">CEO</div>
          <div class="flex justify-center">
            <a href="#" class="mx-1"><i class="fab fa-linkedin-in color-gray"></i></a>
            <a href="#" class="mx-1"><i class="fab fa-twitter color-gray"></i></a>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center">
        <a href="#" class="button button-transparent display-inline px-2 radius-4x bg-color-white py-1">View the
          Team</a>
      </div>
    </div>
  </section>
</div>

<!-- Section 2-->
<section>
  <div class="container py-2 py-md-6">
    <!-- Header -->
    <div class="color-dark-gray text-center mb-2 mb-md-5">
      <h1 class="fs-md-2y">Meet Our Leaders</h1>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>


    <!-- Images -->
    <div class="about-grid-container">
      <div class="about-big mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-01.png" alt="Tonozz Meet Our Leaders" />
      </div>
      <div class="right0 mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-02.png" alt="Tonozz Meet Our Leaders" />
      </div>
      <div class="right1 mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-03.png" alt="Tonozz Meet Our Leaders" />
      </div>
      <div class="left0 mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-04.png" alt="Tonozz Meet Our Leaders" />
      </div>
      <div class="left1 mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-05.png" alt="Tonozz Meet Our Leaders" />
      </div>
      <div class="left2 mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-06.png" alt="Tonozz Meet Our Leaders" />
      </div>
      <div class="left3 mb-1 mb-sm-0">
        <img src="assets/images/about-grid/about-grid-leader-07.png" alt="Tonozz Meet Our Leaders" />
      </div>
    </div>
  </div>
</section>

<div class="about-section">
  <section>
    <div class="container py-2 py-md-6">
      <!-- Header -->
      <div class="color-dark-gray text-center mb-2 mb-md-5">
        <article>
          <h1 class="fs-md-2y">We’re Hiring!</h1>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </article>
      </div>

      <!-- Hiring -->
      <div class="color-gray">
        <div *ngFor="let item of hiring_datas">
          <div class="flex flex-wrap flex-column align-start flex-sm-row justify-between align-md-center" itemscope
            itemtype="http://schema.org/JobPosting">
            <div class="flex-auto mb-2 mb-md-0">
              <div itemprop="title" class="mb-5x fs-1"><b>{{item.title}}</b></div>
              <div itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
                <span itemprop="addressLocality" class="fs-0y">
                  Locations: {{item.location}}</span>
              </div>
            </div>
            <div class="text-right">
              <a href="#" class="button button-transparent bg-color-white w-200x mw-10x4 py-1">Apply</a>
            </div>
          </div>
          <div class="seperator my-2"></div>
        </div>
      </div>


    </div>
  </section>
</div>

<section>
  <div class="about-section">
    <base-newsletter></base-newsletter>
  </div>
</section>