<div class="account-content-view">
  <h1 class="mb-3 account-content-title">Sales</h1>
  <div class="sales-context grid grid-col-2 grid-sm-col-1 fs-0y fs-sm-1x ">
    <div class="sales-table grid grid-col-1 grid-sm-col-4 grid-col-gap-1fw-bold color-secondary">
      <span class="fw-6">Hizmet Adı</span>
      <span class="text-sm-center fw-6">Tarih</span>
      <span class="text-sm-center fw-6">Satış Miktarı</span>
      <span class="text-sm-right fw-6">Toplam Kazanç</span>
    </div>
    <div class="seperator d-none d-sm-block my-2"></div>
    <div class="sales-table grid grid-col-1 grid-sm-col-4 grid-col-gap-1fw-400 color-gray">
      <span>Yat Genel Bakımı</span>
      <span class="text-sm-center">10.12.2019</span>
      <span class="text-sm-center">35</span>
      <span class="text-sm-right">198.50</span>
    </div>
  </div>
</div>