<div class="account-content-view">
  <h1 class="mb-3 account-content-title">Sales</h1>
  <div class="sales-context">
    <div class="sales-table grid grid-col-4 grid-col-gap-1 fs-1x fw-bold color-secondary">
      <span>Hizmet Adı</span>
      <span class="text-center">Tarih</span>
      <span class="text-center">Satış Miktarı</span>
      <span class="text-right">Toplam Kazanç</span>
    </div>
    <div class="seperator my-2"></div>
    <div class="sales-table grid grid-col-4 grid-col-gap-1 fs-1x fw-400 color-gray">
      <span>Yat Genel Bakımı</span>
      <span class="text-center">10.12.2019</span>
      <span class="text-center">35</span>
      <span class="text-right">198.50</span>
    </div>
  </div>
</div>