<div class="article-section main-featured-products je-featured-products">
  <!-- Article Card -->
  <h1 class="section-title fs-sm-2">Featured Products</h1>

  <div class="article-cards grid-sm grid-sm-col-2 grid-md-col-3 grid-sm-col-gap-2 container">
    <!-- Article Card -->
    <div class="article-card my-sm-5" *ngFor="let e of [1,2,3]">

      <!-- Article Card Header-->
      <div class="article-card-header mb-sm-2">
        <div class="article-card-image">
          <img src="http://placehold.jp/484x329.png" alt="" />
        </div>
      </div>

      <!-- Article Card Title-->
      <div class="article-card-title my-3 fs-sm-1x">Lorem Ipsum Dolor</div>

      <!-- Article Card Text-->
      <div class="article-card-text mb-sm-4 fs-sm-1">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna.</p>
      </div>

      <!-- Article Card Button-->
      <div class="article-card-button mb-3 mb-sm-0">
        <a href="#" class="fs-sm-1x button button-primary">Read More</a>
      </div>

    </div>
  </div>
</div>

<!-- Seperator -->
<div class="seperator"></div>

<!-- Featured Solutions-->
<div class="article-section main-featured-solutions">

  <!-- Article Title -->
  <h1 class="section-title fs-1y fs-sm-2x">Featured Solutions</h1>

  <div class="article-cards container grid-sm grid-sm-col-2 grid-md-col-3 grid-sm-col-gap-2">
    <!-- Article Card -->
    <div class="article-card my-5" *ngFor="let e of [1,2,3]">

      <!-- Article Card Header-->
      <div class="article-card-header mb-sm-2 text-center">
        <div class="article-card-icon">
          <i class="fas fa-dharmachakra"></i>
        </div>
      </div>

      <!-- Article Card Title-->
      <div class="article-card-title my-3 fs-1y fs-sm-2">Solutions</div>

      <!-- Article Card Text-->
      <div class="article-card-text mb-sm-4 fs-sm-1">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna.</p>
      </div>

      <!-- Article Card Button-->
      <div class="article-card-button">
        <a href="#" class="fs-sm-1x button button-primary">Read More</a>
      </div>

    </div>
  </div>
</div>


<!-- Seperator -->
<div class="seperator"></div>

<div class="article-section main-blog">
  <!-- Article Card -->
  <h1 class="section-title fs-1y fs-sm-2">Blog</h1>

  <div class="article-cards container grid-sm grid-sm-col-2 grid-md-col-3 grid-sm-col-gap-2">
    <!-- Article Card -->
    <div class="article-card my-5" *ngFor="let e of [1,2,3]">

      <!-- Article Card Header-->
      <div class="article-card-header mb-sm-2">
        <div class="article-card-image">
          <img src="http://placehold.jp/484x329.png" alt="" />
        </div>
      </div>

      <!-- Article Card Title-->
      <div class="article-card-title my-3 fs-sm-1x">Lorem Ipsum Dolor</div>

      <!-- Article Card Text-->
      <div class="article-card-text mb-sm-4 fs-sm-1">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna.</p>
      </div>

      <!-- Article Card Button-->
      <div class="article-card-button">
        <a href="#" class="fs-sm-1x button button-primary">Read More</a>
      </div>

    </div>
  </div>
</div>


<!-- Newsletter Component -->
<newsletter></newsletter>