<div class="account-content-view">
  <h1 class="mb-3 account-content-title">Finance</h1>
  <div class="finance-context">
    <div class="finance-item py-1 px-2 mb-3" *ngFor="let i of [1,2,4]">
      <div class="text-right py-1 my-1">
        <span class="fw-bold color-secondary">09 Şubat 2019</span>
      </div>
      <div class="finance-item-status text-center rounded py-1 color-secondary fw-bold">
        Ödemen onaylandı.
      </div>
      <div class="finance-case flex justify-between color-primary fw-bold pt-2 pb-1 align-center">
        <span class="fs-1x">-9,90 TL</span>
        <span class="fs-1 rounded bordered p-1 px-2">Tamamlandı</span>
      </div>
    </div>
  </div>
</div>