.account {
  &-container {
    display: flex;
  }

  &-menu {
    max-width: 360px;
    flex: 1;

    &-context {
      max-width: 227px;

      a {
        display: block;
        font-size: 1rem;
        color: $dark-gray;
        border-bottom: 2px solid rgba(black, 0.07);
        padding: 15px 0;
        font-weight: 500;
        transition: 0.3s;

        &.active {
          border-bottom-color: $sky-blue;
          font-weight: bold;
        }
      }
    }
  }

  &-content {
    flex: 1;

    &-title {
      color: $dark-gray2;
      font-size: 25px;
    }
  }
}
