<div class="account-content-view">
    <h1 class="mb-3 account-content-title">Tocoin Hesabım</h1>
    <div class="tocoin-context p-5 mb-5">
        <div class="tocoin-item mb-2 mb-sm-0">
            <h2 class="fs-1y tocoin-title">Tocoinim</h2>
            <p class="fs-3 fw-bold tocoin-point p-0 m-0">1000 <span><i class="fas fa-database fs-2"></i></span></p>
        </div>
        <div class="tocoin-item tocoin-info">
            <h2 class="fs-1y mb-2">Nasıl Tocoin Kazanılır?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis felis eu sollicitudin bibendum. </p>
        </div>
        <div class="tocoin-item tocoin-info">
            <h2 class="fs-1y mb-2">Nasıl Tocoin Kazanılır?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis felis eu sollicitudin bibendum. </p>
        </div>
    </div>
    <div class="py-3 py-sm-5 text-center tocoin-new-post">
        <a href="#" class="fs-1 fs-sm-1y fw-bold">Yeni İş İlanı Oluştur</a>
    </div>
</div>