.requests {
  &-new-form {
    border-radius: 15px;
    border: 1px solid $sky-blue;
    box-shadow: 0 3px 10px -6px #000;
  }

  &-posts {
  }

  &-post {
    &-header {
      border-bottom: 1px solid rgba(black, 0.2);
    }
    &-user {
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $sky-blue;
      }
    }
  }

  &-form-item {
    &:nth-child(2) {
      input {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .requests {
    &-form-item {
      &:first-child {
        input {
          width: 300px;
        }
      }
      label {
        min-width: 120px;
      }

      &:last-child input {
        width: 140px;
      }
    }
  }
}
